MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=
MYSQL_DATABASE=reservas_rosas
API_TOKEN=
API_TOKEN_HASH=
DEBUG=0

# Configuración de API remota (reemplazar MYSQL no es necesario si usas API remota)
API_REMOTE_URL=http://rosas.uy/reserva
API_REMOTE_TOKEN=gh2t2oNre50TR4ZucrkssNPFb8LnDhD5JT9gM89ERy4

# Protección opcional (coma separada)
# Ejemplo: ALLOWED_ORIGINS=https://rosas.uy,https://www.rosas.uy
ALLOWED_ORIGINS=
